@import url('https://fonts.googleapis.com/css?family=Megrim|Codystar|Zeyada|Montserrat&display=swap');

html {
    height: 100%
}

body {
    background: linear-gradient(#120078, #9D0191);
}


.header {
    text-align: center;
    height: 250px;
    object-fit: contain;
    padding: 20px;
}

#logo {
    width: 225px;
    height: 225px;
}

.invisible {
    height: 20px;
    padding: 10px;
}

.a {
    justify-content: space-evenly;
    
}

/* cabinet is on the left. armoire is on the right. drawer is inside cabinet. shelf is inside armoire. */

.cabinet {
    height: 20px;
    content: "";
    border-style: solid;
    border-color: #FECD1A;
    border-width: 1px;
    border-radius: 25px 0px;
    padding: 4px;
}
.armoire {
    height: 20px;
    content: "";
    border-style: solid;
    border-color: #FECD1A;
    border-width: 1px;
    border-radius: 0px 25px;
    padding: 4px;
}

.drawer {
    height: 10px;
    content: "";
    border-style: solid;
    border-color: #FD3A69;
    border-width: 1px;
    border-radius: 25px 0px;
}

.shelf {
    height: 10px;
    content: "";
    border-style: solid;
    border-color: #FD3A69;
    border-width: 1px;
    border-radius: 0px 25px;
}

/* pantry is on left, cupboard is on right. bins is in pantry, pegs is in cupboard. */

.pantry {
    height: 20px;
    content: "";
    border-style: solid;
    border-color: #FECD1A;
    border-width: 1px;
    border-radius: 0px 25px;
    padding: 4px;
} 

.cupboard {
    height: 20px;
    content: "";
    border-style: solid;
    border-color: #FECD1A;
    border-width: 1px;
    border-radius: 25px 0px;
    padding: 4px;
}

.bins {
    height: 10px;
    content: "";
    border-style: solid;
    border-color: #FD3A69;
    border-width: 1px;
    border-radius: 0px 25px;
}

.pegs {
    height: 10px;
    content: "";
    border-style: solid;
    border-color: #FD3A69;
    border-width: 1px;
    border-radius: 25px 0px;
}

.c {
    height:fit-content;
    border-style: solid;
    border-color: #FD3A69;
    border-width: 1px;
    border-radius: 25px 0px;
    padding: 10px;
}

.intro {
    color:#FECD1A;
    font-family: Codystar;
    font-size: 3em;
}

.d {
    height: fit-content;
    padding: 10px;
    
}

.aboutme {
    color: #FD3A69;
    border-color: #FECD1A;
    border-style: solid;
    border-width: 1px;
    border-radius: 0px 25px;
    font-size: 1em;
    font-family: Montserrat;
    font-weight: 700;
    margin-top: -40px;
}

.e {
    color: #FD3A69;
    font-size: .8em;
    font-family: Montserrat;
}


#bigtext {
    font-family: Codystar;
    font-weight: 5em;
}